/* Importing Other Stylesheets
***********************************/

@import url('reset.css'); /* CSS RESET */
@import url('960.css'); /* 960 GRID SYSTEM */

.grid_12 {
	margin-bottom: 15px; /* SETTING STANDARD VERTICAL SPACING BTWN ROWS */
}

/* Generic Styling
***********************************/
#topimage img {
height: 205px;
}


body {
	background-color: #8d8d9c;
	font: normal 12px Helvetica, Arial, Sans-Serif;
	color: #fff;
	text-shadow: 1px 1px #505050;
}

a {
	color: #fff;
}

a.dark {
	font-size: 0.9em;
	text-decoration: none;
	padding: 3px 4px 2px 4px;
}

a.dark:hover {
	background: url(../images/bg/darker.png);
}

a.dark span {
	background: url(../images/icons/arrow_right.gif) no-repeat top right;
	padding: 0 13px 0 0;
	}

.dark {
	background: url(../images/bg/dark.png);
	padding: 5px;
}

p {
	line-height: 1.4em;
}

div#secondary {
	background: url(../images/bg/divider_large_sunburst.png) no-repeat top center;
	padding-top: 15px;
}

div#poll {
	background: url(../images/client/logo_watermark.png) no-repeat bottom right;
}

div#front_pdf {
	text-align: center;
}

	img.front_pdf {
		opacity: 0.6;
	}
	
 	img.front_pdf:hover {
		opacity: 1;
	}
	
small {
	font-size: 0.9em;
}

img.cartoon {
	width: 290px;
	background: url(../images/bg/darker.png);
	padding: 3px;
}



/* List Styling
***********************************/

ul {
	line-height: 1.4em;
}

ul li {
	margin: 5px 0 0 0;
}

ul.more_from {
	background: url(../images/bg/divider_small.png) no-repeat top center;
	margin: 10px 0 0 0;
	padding: 5px 0 0 0;
}

ul.more_stories {
	margin: 10px 0 0 0;
}

ul.more_stories li span {
	font-size: 0.9em;
}

/* Article Styling
***********************************/
div#article_body p {
	margin: 0 0 10px 0;
}

blockquote {
	font: italic 1.3em Georgia;
	float: left;
	width: 200px;
	margin: 0 10px 10px -50px;
	background: url(../images/quote.png) no-repeat top left;
	padding: 10px 0 0 10px;
}

div.sidebar {
	float: right;
	width: 200px;
	margin: 0 0 0 10px;
}

div.sidebar ul {
	margin: 0 0 10px 0;
}

div.sidebar ul li {
	position: relative;
	background: url(../images/bg/dark.png);
	padding: 5px 5px 1px 5px;
}

div.sidebar ul#text li {
	padding: 5px;
	font-size: 0.9em;
}

div.sidebar ul li div {
	position: absolute;
	bottom: 5px;
	font-size: 0.9em;
	background: url(../images/bg/darkest.png);
	padding: 5px;
	width: 180px;
	text-shadow: none;
	line-height: 1.2em;
}

	div.sidebar ul li img {
		width: 190px;
	}
	
	div.sidebar ul li:hover {
		background: url(../images/bg/darker.png);
	}
	
	div.sidebar ul#text li:hover {
		background: url(../images/bg/dark.png);
	}
	
span#text_size {
	float: right;
}

a#text_up, a#text_down {
	height: 10px;
	width: 10px;
	background: url(../images/icons/arrow_up.gif) no-repeat 0 1px;
	padding: 0 0 0 10px;
}

a#text_down {
	background: url(../images/icons/arrow_down.gif) no-repeat 0 1px;
}

/* Article Comments
*******************************/

ul#comments li {
	background: url(../images/bg/divider_medium.png) no-repeat bottom center;
	float: left;
	padding: 0 0 10px 0;
	margin: 10px 0 0 0;
}

ul#comments li#comment_count {
	background: none;
	margin: 0;
}

ul#comments li div {
	float: right;
	font: italic 1.2em Georgia;
}

ul#comments li div span {
	font-size: 0.8em;
	opacity: 0.7;
}

form#comments {
	margin-top: 10px;
}

form#comments input, form#comments textarea {
	width: 277px;
	border: 0;
	border-top: 1px solid #808080;
	border-left: 1px solid #808080;
	color: #808080;
	margin: 0 0 10px 0;
	padding: 5px 5px 5px 18px;
	font: normal 0.9em Helvetica;
}

input#comment_name, input#comment_email, textarea#comment_body, input#comment_turing {
	background: #fff url(../images/icons/author.gif) no-repeat 5px 5px;
}

input#comment_email {
	background-image: url(../images/icons/mail_back.gif);
}

textarea#comment_body {
	background-image: url(../images/icons/comment.gif);
}

input#comment_turing {
	background-image: url(../images/icons/key.gif);
}

form#comments input#comment_submit {
	width: 300px;
	background: url(../images/bg/dark.png);
	color: #fff;
	text-shadow: 1px 1px #505050;
	border: 0;
}

form#comments input#comment_submit:hover {
	background: url(../images/bg/darker.png);
}

ul#format_options {
	margin: 10px 0 0 0;
}

div#join_convo {
	text-align: center;
	clear: left;
	padding: 10px 0 0 0;
}

div#join_convo a {
	background: url(../images/bg/dark.png);
	padding: 8px 5px;
	margin: 10px 0 0 0;
	display: block;
	font-size: 1.2em;
}

div#join_convo a:hover {
	background: url(../images/bg/darker.png);
}


/* Search-specific styling
***********************************/

form#basic_search {
 text-align: center;
 margin-bottom: 20px;
}

form#basic_search input#submit_query, form#adv_search input#submit_query {
	background: url(../images/bg/button_bg.png);
	padding: 7px;
	color: #424242;
	font-weight: bold;
	font-size: 1.2em;
	text-shadow: 0 1px #fff;
	border: 1px solid #808080;
}

form#basic_search input#query_field, form#adv_search input#query_field {
	padding: 5px;
	font-size: 1.5em;
	border: 1px solid #808080;
	color: #808080;
	width: 530px;
	
}

p#adv_search, p#basic_search {
	background: url(../images/bg/dark.png);
	padding: 5px;
	text-align: center;
}

p#basic_search {
	display: none;
}

form#adv_search {
	margin-top: 20px;
	display: none;
	text-align: center;
}

form#adv_search input {
	color: #808080;
	padding: 5px;
	width: 260px;
	margin: 0 10px;
}

form#adv_search fieldset {
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	background: url(../images/bg/divider_medium.png) bottom center no-repeat;
}

/* Blog-specific styling
***********************************/

div#more_posts {
	margin: 20px 0 0 0;
	padding: 15px 0 0 0;
	background: url(../images/bg/divider_medium.png) top center no-repeat;
}

	div#more_posts div.blog_summary {
		float: left;
		width: 290px;
		margin: 20px 15px 0 0;
	}

		div#more_posts div.blog_summary h3 span {
			font-size: 0.8em;
			font-family: Helvetica;
			font-style: normal;
			padding-left: 6px
		}

div#blog_info {
	margin: 0 0 15px 0;
	position: relative
}


	div#blog_info p img {
		float: right;
		margin-left: 10px;
	}
	
	div#blog_info a#rss {
		padding-left: 13px;
		position: absolute;
		right: 10px;
		top: 5px;
		background-repeat: no-repeat;
		font-size: 0.9em;
		text-decoration: none;
	}
	
div.blog_info {
	float: left;
	width: 45%;
}

div.landing {
	width: 45%;
	float: left;
	margin: 0 20px 20px 0;
}

/* Headers
***********************************/

h1 {
	font: italic 2.5em Georgia;
}

	h1.opn {
		margin-bottom: 10px;
	}
	
h2 {
	font: italic 1.5em Georgia;
}
	
	h2.topdiv, h3.topdiv {
		margin-top: 15px;
		padding-top: 15px;
		background: url(../images/bg/divider_small.png) top center no-repeat;
	}
	
h3 {
	font: italic 1.16em Georgia;
	margin: 0 0 5px 0;
	padding: 0;
}
	
/* Ads
***********************************/

div.leaderboard {
	text-align: center;
}

/* Ticker Elements
***********************************/
div#ticker {
	font-size: 0.9em;
	padding: 5px;
	background: url(../images/bg/dark.png);
}

div#ticker div {
	margin: 4px 0 0 2px;
	float: left;
}

div#ticker span {
	margin: 0 10px 0 0;
	padding: 0 0 0 15px;
}

div#ticker span#date {
	background: url(../images/icons/clock.gif) no-repeat 0 1px;
}

div#ticker span#founded {
	background: url(../images/icons/globe.gif) no-repeat 0 1px;
}

div#ticker span#links {
	background: url(../images/icons/bookmark.gif) no-repeat 0 2px;
	padding: 0 0 0 13px;
}

div#ticker span#wx {
	background: url(../images/icons/wx/cloudy.png) no-repeat;
}

/* Header & Nav
***********************************/

div#header {
	background: url(../images/bg/divider_large.png) no-repeat bottom center;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

div#header img {
	float: left;
}

div#header img:hover {
	opacity: 0.6;
}

div#header ul {
	float: right;
	margin: 10px 0 0 0;
}

	div#header ul li {
		display: inline;
		font: italic 1.5em Georgia;
		margin: 0 0 0 10px;
	}

		div#header ul li.active {
			background: url(../images/bg/dark.png);
			padding: 5px 8px 7px 8px;
		}
		
		div#header ul li a {
			text-decoration: none;
		}
		
/* Featured Stories
***********************************/		

div#featured_stories {
	height: 250px;
	background: url(../images/bg/dark.png);
	padding: 10px;
}

div#featured_stories div {
	float: left;
	background: url(../images/bg/dark.png);
	padding: 5px 5px 3px 5px;
	position: relative;
}

div#featured_stories div div.caption {
	background: url(../images/bg/darkest.png);
	padding: 5px;
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 370px;
	text-shadow: none;
}

	div#featured_stories div div.caption p {
		font-size: 0.9em;
	}

div#featured_stories div img {
	max-height: 239px;
	width: 390px;
}

div#featured_stories ul {
	float: right;
}

div#featured_stories ul li {
	background: url(../images/bg/dark.png);
	padding: 4px 4px 0px 4px;
	margin: 0 0 7px 0;
	opacity: 0.5;
}

div#featured_stories ul li img {
	width: 100px;
	margin: 0 0 0px 0;
}

div#featured_stories ul li.ui-tabs-selected {
	opacity: 1;
}


/* Gallery
***********************************/		

div#gallery {
	height: 250px;
	padding: 0px;
}

div#gallery div {
	float: left;
	background: url(../images/bg/dark.png);
	padding: 5px 5px 3px 5px;
	position: relative;
}

div#gallery div div.caption {
	background: url(../images/bg/darkest.png);
	padding: 5px;
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 370px;
	text-shadow: none;
}

	div#gallery div div.caption p {
		font-size: 0.9em;
	}

div#gallery div img {
	max-width: 600px;
}

div#gallery ul {
	clear: both;
}

div#gallery ul li {
	background: url(../images/bg/dark.png);
	padding: 4px 4px 0px 4px;
	margin: 10px 5px 0 0;
	opacity: 0.5;
	display: block;
	float: left;
}

div#gallery ul li img {
	width: 100px;
	margin: 0 0 0px 0;
}

div#gallery ul li.ui-tabs-selected {
	opacity: 1;
}
		
/* Bylines
***********************************/

div.byline {
	font-size: 0.9em;
	margin: 10px 0;
}

div.byline span.date, div.byline a.author, div.byline a.comment, div.byline a.rss {
	background: url(../images/icons/clock.gif) no-repeat;
	padding: 0 0 0 13px;
	margin: 0 5px 0 0;
}

div.byline a.author {
	background-image: url(../images/icons/author.gif);
}

div.byline a.comment {
	background-image: url(../images/icons/comment.gif)
}

div.byline a.rss, div#blog_info a#rss {
	background-image: url(../images/icons/rss.png);
	background-position: 0 2px;
}

/* Section Tabs Module
***********************************/

div#section_tabs {
	margin-bottom: 20px;
}

div#section_tabs ul#section_tabs_nav {
	width: 203px;
	height: 24px;
	background-image: url(../images/section_tabs/bg.png);
	background-position: -1100px 22px;
	background-repeat: no-repeat;
	padding-left: 17px;
	margin: 0 0 5px 0;
}

div#section_tabs div {
	padding: 0 8px;
}

div#section_tabs ul#section_tabs_nav li {
	float: left;
	margin: 4px 8px 0 0;
}

div#section_tabs div ul li {
	margin: 10px 0 0 0;
}

div#section_tabs ul#section_tabs_nav li#news_tab a, div#section_tabs ul#section_tabs_nav li#sports_tab a, div#section_tabs ul#section_tabs_nav li#opinion_tab a, div#section_tabs ul#section_tabs_nav li#entertainment_tab a, div#section_tabs ul#section_tabs_nav li#multimedia_tab a, div#section_tabs ul#section_tabs_nav li#comments_tab a {
	display: block;
	height: 18px;
	width: 24px;
	text-indent: -9999px;
	background: url(../images/section_tabs/news.png);
}

div#section_tabs ul#section_tabs_nav li#sports_tab a {
	background: url(../images/section_tabs/sports.png);
}

div#section_tabs ul#section_tabs_nav li#opinion_tab a {
	background: url(../images/section_tabs/opinion.png);
}

div#section_tabs ul#section_tabs_nav li#entertainment_tab a {
	background: url(../images/section_tabs/entertainment.png);
}

div#section_tabs ul#section_tabs_nav li#multimedia_tab a {
	background: url(../images/section_tabs/multimedia.png);
}

div#section_tabs ul#section_tabs_nav li#comments_tab a {
	background: url(../images/section_tabs/comments.png);
}

/* Featured Multimedia Module
***********************************/

div#featured_multimedia {
	height: 254px; /* Setting height to prevent page from jumping during transition */
}

div#featured_multimedia ul {
	text-align: center;
	margin: 8px 0 0 0;
}

	div#featured_multimedia ul li {
		display: inline;
	}
	
	div#featured_multimedia ul li a {
		text-decoration: none;
		background: url(../images/bg/dark.png);
		padding: 5px 5px 4px 5px;
		margin: 0 2px;
	}
	
div#featured_multimedia div img {
	width: 278px;
	height: 190px;
}

div#featured_multimedia div {
	position: relative;
	background: url(../images/bg/dark.png);
	padding: 5px 5px 3px 5px;
}

div#featured_multimedia div div.caption {
	background: url(../images/bg/darkest.png);
	padding: 5px;
	position: absolute;
	bottom: 8px;
	left: 8px;
	width: 262px;
	font-size: 0.9em;
	text-shadow: none;
}

div#featured_multimedia div a {
	text-decoration: none;
}

div#featured_multimedia ul li.ui-tabs-selected a, div#featured_multimedia ul li a:hover, div#upcoming_events ul#calendar li.ui-tabs-selected a, div#upcoming_events ul#calendar li a:hover {
	background: url(../images/bg/darker.png);
}

/* Upcoming Events Module
***********************************/

div#upcoming_events ul#calendar li {
	float: left;
	margin-bottom: 10px;
}

div#upcoming_events ul#calendar li a {
	text-decoration: none;
	background: url(../images/bg/dark.png);
	display: block;
	width: 38px;
	height: 50px;
	margin-right: 10px;
	padding: 5px 5px 3px 5px;
	text-align: center;
}

div#upcoming_events ul#calendar li a span {
	display: block;
	font-family: Georgia;
}

div#upcoming_events ul#calendar li a span.day {
	text-transform: uppercase;
	font-size: 1.3em;
}

div#upcoming_events ul#calendar li a span.num {
	font-size: 2.7em;
	line-height: 0.9;
	font-style: italic;
}

/* Forms
***********************************/

form#search {
	float: right;
	padding: 3px;
	background: #fff;
}

	input#search_field, input#subscribe {
		font-size: 0.9em;
		color: #808080;
		border: 0;
		padding: 0 0 0 2px;
		width: 150px;
		float: left;
	}
	
	input#subscribe {
		font-size: 0.85em;
		padding: 3px 3px 3px 5px;
		width: 200px;
	}
	
	form#search input#search_button {
		float: right;
	}
	
/* Poll Module
*******************************/
	
form#pollform input, form#newsletterform input {
	margin: 4px 0;
}

div#poll span, div#poll div#vote a {
	font-size: 0.9em;
	text-align: right;
}

div#poll span {
	background: url(../images/icons/check_small.png) 0 1px no-repeat;
	padding-left: 12px;
}

div#results {
	display: none;
}

img#poll_chart {
	background: #fff;
	padding: 5px;
	margin: 5px 0;
}



/* Footer
***********************************/

div#footer {
	margin-top: 20px;
	margin-bottom: 0;
	background: url(../images/bg/dark.png);
	padding: 10px;
	width: 920px;
}

div#footer div#copyright {
	text-align: center;
	background: url(../images/bg/divider_large.png) no-repeat top center;
	padding: 15px 0 0 0;
}

div#footer div#copyright a#powered {
	display: block;
	background: url(../images/client/dsw_cog.png) no-repeat top center;
	height: 50px;
	width: 150px;
	text-indent: -9999px;
	margin: 10px auto 0 auto;
	opacity: 0.5;
	font-size: 0.9em;
	text-decoration: none;
	padding: 17px 0 0 0;
}

div#footer div#copyright a#powered:hover {
	opacity: 1;
	text-indent: 0;
}

div#footer ul {
	margin: 0 0 20px 0;
}

div#footer img.front_pdf {
	width: 100px;
	background: url(../images/bg/darker.png);
	padding: 3px;
}

div#footer li {
	font-size: 0.9em;

}

div#footer li h3 {
	font-size: 1.2em;
}

/* General Image Formatting
***********************************/

img.section_lead {
	width: 290px;
	background: url(../images/bg/dark.png);
	padding: 5px;
	margin: 0 0 5px 0;
}

img.section_lead:hover {
	background: url(../images/bg/darker.png);
}

img.section_sub {
	width: 90px;
	float: right;
	background: url(../images/bg/dark.png);
	padding: 3px;
	margin: 3px 0 3px 5px;
}

img.section_sub.staff {
	width: 60px;
}
	
/* jQuery Dependencies
***********************************/

.ui-tabs .ui-tabs-hide {
     display: none;
}

/* Rounded Corners Option with Borders
****************************************/

.dark, li.active, div#footer, div#featured_stories, div#featured_stories div, div#featured_stories ul li, div#featured_multimedia div, div#featured_multimedia ul li a, div#upcoming_events ul li a, form#search, form#newsletterform input#subscribe, img#poll_chart, form#comments input, form#comments textarea, div#join_convo a, p#adv_search, p#basic_search, img.staff {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

div#footer {
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
}

div#ticker {
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
}

.dark, li.active, div#upcoming_events ul#calendar li a, div#footer, div#join_convo a, form#comments input#comment_submit, p#search_toggle {
	border: 1px solid rgba(0, 0, 0, 0.03);
	
}