/* Importing Other Stylesheets
***********************************/

@import url('reset.css'); /* CSS RESET */
@import url('960.css'); /* 960 GRID SYSTEM */

.grid_12 {
	margin-bottom: 15px; /* SETTING STANDARD VERTICAL SPACING BTWN ROWS */
}

/* STANDARD MODAL
***********************************/

.rose_modal_container {
	color: #333;
	border: 11px solid #375137;
	-webkit-border-image: url( ../images/box_shadow.png ) 10 10 10 10;
	-moz-border-image: url( ../images/box_shadow.png ) 10 10 10 10;
	border-image: url( ../images/box_shadow.png ) 10 10 10 10;
}
	.rose_modal_title {
		background: #375137;
		color: #fff;
		padding: .4em 10px;
		font-size: .8em;
		text-transform: uppercase;
		font-weight: bold;
		-moz-border-radius-topLeft: 5px;
		-moz-border-radius-topRight: 5px;
		-webkit-border-radius-topLeft: 5px;
		-webkit-border-radius-topRight: 5px;
		border-radius-topLeft: 5px;
		border-radius-topRight: 5px;
	}
	.rose_modal_content {
		background: #fff;
		padding: 10px;
		-moz-border-radius-bottomLeft: 5px;
		-moz-border-radius-bottomRight: 5px;
		-webkit-border-radius-bottomLeft: 5px;
		-webkit-border-radius-bottomRight: 5px;
		border-radius-bottomLeft: 5px;
		border-radius-bottomRight: 5px;
	}
	.rose_modal_contentIndeterminate {
		text-align: center;
		padding: 1.5em 0;
		background: #fff url( ../images/ajax-loader.gif ) no-repeat center center;
	}
	.rose_modal_buttonBar {
		height: 25px;
		padding-right: 10px;
		text-align: right;
	}
		.rose_modal_buttonBar > * {
			display: block;
			float: left;
		}
		.rose_modal_buttonBar img {
			position: relative;
			top: 3px;
			margin-right: 1em;
		}
	.rose_modal_closeLink {
		display: block;
		width: 16px;
		height: 16px;
		background: url( ../images/close_sprite.gif ) 0 0;
	}
		.rose_modal_closeLink:hover {
			background: url( ../images/close_sprite.gif ) -16px 0;
		}
		.rose_modal_closeLink:active {
			background: url( ../images/close_sprite.gif ) -32px 0;
		}
		.rose_modal_closeLink span {
			display: none;
		}
		
/* Generic Styling
***********************************/
body {
	background-color: #8d8d9c;
	font: normal 12px Helvetica, Arial, Sans-Serif;
	color: #fff;
	text-shadow: 1px 1px #505050;
}


.ui-tabs .ui-tabs-hide {
     display: none;
}

a {
	color: #fff;
}

a.dark {
	font-size: 0.9em;
	text-decoration: none;
	padding: 3px 4px 2px 4px;
}

a.dark:hover {
	background: url(../images/bg/darker.png);
}

a.dark span {
	background: url(../images/icons/arrow_right.gif) no-repeat top right;
	padding: 0 13px 0 0;
	}

a.dark { 
	margin: 2px;
}

.dark {
	background: url(../images/bg/dark.png);
	padding: 5px;
}

p {
	line-height: 1.4em;
}

div#secondary {
	background: url(../images/bg/divider_large_sunburst.png) no-repeat top center;
	padding-top: 15px;
}

div#poll {
	background: url(../images/client/logo_watermark.png) no-repeat bottom right;
}

div.front_pdf {
	text-align: center;

}

	img.front_pdf {
		opacity: 0.6;
		width: 125px;
	}
	
 	img.front_pdf:hover {
		opacity: 1;
		
	}
	
small {
	font-size: 0.9em;
}


/* List Styling
***********************************/

ul {
	line-height: 1.4em;
}

ul li {
	margin: 5px 0 0 0;
}

ul.more_from {
	background: url(../images/bg/divider_small.png) no-repeat top center;
	margin: 10px 0 0 0;
	padding: 5px 0 0 0;
}

ul.media_list {
	background: url(../images/bg/divider_small.png) no-repeat top center;
	margin: 10px 0 0 0;
	padding: 5px 0 0 0;
	min-height: 110px;
}

li.divider {	
	background: url(../images/bg/divider_large.png) no-repeat top center;
	height:3px;
}

ul.more_fromlarger {
	background: url(../images/bg/divider_medium.png) no-repeat top center;
	margin: 10px 0 0 0;
	padding: 5px 0 0 0;
}

ul.more_stories {
	margin: 10px 0 0 0;
}

ul.more_stories li span {
	font-size: 0.9em;
}

/* Article Styling
***********************************/
div#article_body p {
	margin: 0 0 10px 0;
}

blockquote {
	font: italic 1.3em Georgia;
	float: left;
	width: 200px;
	margin: 0 10px 10px -50px;
	background: url(../images/quote.png) no-repeat top left;
	padding: 10px 0 0 10px;
}

div.sidebar {
	float: right;
	width: 210px;
	margin: 0 0 0 10px;
}


div.sidebar div div {
	position: absolute;
	bottom: 5px;
	font-size: 0.9em;

	padding: 5px;
	width: 180px;
	text-shadow: none;
	line-height: 1.2em;
}

	div.sidebar div img {
		width: 190px;
	}
	
	div.sidebar div:hover {
		background: url(../images/bg/darker.png);
	}
	
	div.sidebar div:hover {
		background: url(../images/bg/dark.png);
	}
	
span#text_size {
	float: right;
}

a#text_up, a#text_down {
	height: 10px;
	width: 10px;
	background: url(../images/icons/arrow_up.gif) no-repeat 0 1px;
	padding: 0 0 0 10px;
}

a#text_down {
	background: url(../images/icons/arrow_down.gif) no-repeat 0 1px;
}

/* Article Comments
*******************************/

h3.commentauthor {
	text-align: right
}

div.comments {
	background: url(../images/bg/divider_medium.png) no-repeat bottom center;
	float: left;
	padding: 0 0 10px 0;
	margin: 10px 0 0 0;
}

div.comments div {
	float: right;
	margin-left: 275px;
	width: 170px;
}

div.comments div h3 {
	font-size: 1.3em;
}

div.comments div span {
	font-size: .9em;
	margin-left: 13px;
}

ul#comments li#comment_count {
	background: none;
	margin: 0;
}

ul#comments li div {
	float: right;
	font: italic 1.2em Georgia;
}

ul#comments li div span {
	font-size: 0.8em;
	opacity: 0.7;
}

form#comments {
	margin-top: 10px;
}

form#comments input, form#comments textarea {
	width: 277px;
	border: 0;
	border-top: 1px solid #808080;
	border-left: 1px solid #808080;
	color: #808080;
	margin: 0 0 10px 0;
	padding: 5px 5px 5px 18px;
	font: normal 0.9em Helvetica;
}

input#comment_name, input#comment_email, textarea#comment_body, input#comment_turing {
	background: #fff url(../images/icons/author.gif) no-repeat 5px 5px;
}

input#comment_email {
	background-image: url(../images/icons/mail_back.gif);
}

textarea#comment_body {
	background-image: url(../images/icons/comment.gif);
}

input#comment_turing {
	background-image: url(../images/icons/key.gif);
}

form#comments input#comment_submit {
	width: 300px;
	background: url(../images/bg/dark.png);
	color: #fff;
	text-shadow: 1px 1px #505050;
	border: 0;
}

form#comments input#comment_submit:hover {
	background: url(../images/bg/darker.png);
}

ul#format_options {
	margin: 10px 0 0 0;
}

div#join_convo {
	text-align: center;
	clear: left;
	padding: 10px 0 0 0;
}

div#join_convo a {
	background: url(../images/bg/dark.png);
	padding: 8px 5px;
	margin: 10px 0 0 0;
	display: block;
	font-size: 1.2em;
}

div#join_convo a:hover {
	background: url(../images/bg/darker.png);
}

/* Blog-specific styling
***********************************/

div#more_posts {
	margin: 20px 0 0 0;
	padding: 15px 0 0 0;
	background: url(../images/bg/divider_medium.png) top center no-repeat;
}

	div#more_posts div.blog_summary {
		float: left;
		width: 290px;
		margin: 20px 15px 0 0;
	}

		div#more_posts div.blog_summary h3 span {
			font-size: 0.8em;
			font-family: Helvetica;
			font-style: normal;
			padding-left: 6px
		}

div#blog_info {
	margin: 0 0 15px 0;
	position: relative
}


	div#blog_info p img {
		float: right;
		margin-left: 10px;
	}
	
	div#blog_info a#rss {
		padding-left: 13px;
		position: absolute;
		right: 10px;
		top: 5px;
		background-repeat: no-repeat;
		font-size: 0.9em;
		text-decoration: none;
	}
	
div.blog_info {
	float: left;
	width: 45%;
}

div.landing {
	width: 45%;
	float: left;
	margin: 0 20px 20px 0;
}

/* Headers
***********************************/

h1 {
	font: italic 2.5em Georgia;
}

	h1.opn {
		margin-bottom: 10px;
	}
	
h2 {
	font: italic 1.5em Georgia;
	margin-top: 5px;
}
	
	h2.topdiv, h3.topdiv {
		margin-top: 15px;
		padding-top: 15px;
		background: url(../images/bg/divider_small.png) top center no-repeat;
	}
	
h3 {
	font: italic 1.16em Georgia;
	margin: 0 0 5px 0;
	padding: 0;
}
	
/* Ads
***********************************/

div.leaderboard {
	text-align: center;
}

/* Ticker Elements
***********************************/
div#ticker {
	font-size: 0.9em;
	padding: 5px;
	background: url(../images/bg/dark.png);
}

div#ticker div {
	margin: 4px 0 0 2px;
	float: left;
}

div#ticker span {
	margin: 0 10px 0 0;
	padding: 0 0 0 15px;
}

div#ticker span#date {
	background: url(../images/icons/clock.gif) no-repeat 0 1px;
}

div#ticker span#founded {
	background: url(../images/icons/globe.gif) no-repeat 0 1px;
}

div#ticker span#links {
	background: url(../images/icons/bookmark.gif) no-repeat 0 2px;
	padding: 0 0 0 13px;
}

div#ticker span#wx {
	background: url(../images/icons/wx/cloudy.png) no-repeat;
}

/* Header & Nav
***********************************/

div#header {
	background: url(../images/bg/divider_large.png) no-repeat bottom center;
	padding-bottom: 21px;
	margin-bottom: 10px;
}

div#header img {
	float: left;
}

div#header img:hover {
	opacity: 0.6;
}

div#header ul {
	float: right;
	margin: 10px 0 0 0;
}

	div#header ul li {
		display: inline;
		font: italic 1.5em Georgia;
		margin: 0 0 0 10px;
	}

		div#header ul li.active {
			background: url(../images/bg/dark.png);
			padding: 5px 5px 7px 8px;
		}
		
		div#header ul li a {
			text-decoration: none;
		}
		


/* Featured Images on other pages
***********************************/		

div#featured_image {
	float: left;
	position: relative;
	width: 290px;
	background: url(../images/bg/dark.png);
	padding: 5px;

}

div#featured_image img {
	width: 290px;
}


/* Gallery
***********************************/		

div#gallery {
	height: 250px;
	padding: 0px;
}

div#gallery div {
	float: left;
	background: url(../images/bg/dark.png);
	padding: 5px 5px 3px 5px;
	position: relative;
}

div#gallery div div.caption {
	background: url(../images/bg/darkest.png);
	padding: 5px;
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 370px;
	text-shadow: none;
}

	div#gallery div div.caption p {
		font-size: 0.9em;
	}

div#gallery div img {
	max-width: 600px;
}

div#gallery ul {
	clear: both;
}

div#gallery ul li {
	background: url(../images/bg/dark.png);
	padding: 4px 4px 0px 4px;
	margin: 10px 5px 0 0;
	opacity: 0.5;
	display: block;
	float: left;
}

div#gallery ul li img {
	width: 100px;
	margin: 0 0 0px 0;
}

div#gallery ul li.ui-tabs-selected {
	opacity: 1;
}
		
/* Bylines
***********************************/

div.byline {
	font-size: 0.9em;
	margin: 10px 0;
}

div.byline span.modified {
	background: url(../images/icons/pencil.gif) no-repeat;
	padding: 0 0 0 13px;
	margin: 0 5px 0 0;
}

div.byline span.date, div.byline a.author, div.byline a.comment, div.byline a.rss, div.byline a.source, div.byline a.report, div.byline a.author_comment {
	background: url(../images/icons/clock.gif) no-repeat;
	padding: 0 0 0 13px;
	margin: 0 5px 0 0;
}

div.byline a.author {
	background-image: url(../images/icons/author.gif);
}

div.byline a.source {
	background-image: url(../images/icons/source.gif);
}

div.byline a.report {
	background-image: url(../images/icons/report.gif);
}

div.byline a.comment {
	background-image: url(../images/icons/comment.gif)
}

div.byline a.rss, div#blog_info a#rss {
	background-image: url(../images/icons/rss.png);
	background-position: 0 2px;
}

.cartoonauthor{
	background: url(../images/icons/author.gif) no-repeat;
	padding: 0 0 0 13px;
	margin: 0 5px 0 0;
}

/* Photo Bylines
***********************************/

p.byline {
	font-size: 0.9em;
}

p.byline span.date, p.byline a.author, p.byline a.comment, p.byline a.rss, p.byline a.source {
	background: url(../images/icons/clock.gif) no-repeat;
	padding: 0 0 0 13px;
	margin: 0 5px 0 0;
}

p.byline a.author {
	background-image: url(../images/icons/author.gif);
}

p.byline a.source {
	background-image: url(../images/icons/source.gif);
}

p.byline a.comment {
	background-image: url(../images/icons/comment.gif)
}

p.byline a.rss, p#blog_info a#rss {
	background-image: url(../images/icons/rss.png);
	background-position: 0 2px;
}

/* Section Tabs Module
***********************************/
div.section_tabs {
	margin-left: 17px;
}


ul#section_tabs_nav li {
	margin: 5px 0 0 0;
}

div.news_content, div.sports_content, div.opinion_content, div.entertainment_content, div.multimedia_content, div.comments_content {
	background-image: url(../images/section_tabs/news_bg.png);
	background-position: 0px 1px;
	background-repeat: no-repeat;
	margin-top: 5px;
	margin-left: -17px;
	width: 220px;
}

div.sports_content {
	background-image: url(../images/section_tabs/sports_bg.png);
}

div.opinion_content {
	background-image: url(../images/section_tabs/opinion_bg.png);
}

div.entertainment_content {
	background-image: url(../images/section_tabs/entertainment_bg.png);
}

div.multimedia_content {
	background-image: url(../images/section_tabs/multimedia_bg.png);
}

div.comments_content {
	background-image: url(../images/section_tabs/comments_bg.png);
}



div.news_content h3, div.sports_content h3, div.opinion_content h3, div.entertainment_content h3, div.multimedia_content h3, div.comments_content h3{
	padding-top: 10px;

}

div.section_tabs {
	width: 195px;
	background-position: top;
	background-position: 0px 23px;
	background-repeat: no-repeat;
	padding-left: 0px;
	margin: 0px:
}

li#news_tab a.tab-header, li#sports_tab a.tab-header, li#opinion_tab a.tab-header, li#entertainment_tab a.tab-header, li#multimedia_tab a.tab-header,  li#comments_tab a.tab-header {
	display: block;
	height: 18px;
	width: 35px;
	text-indent: -9999px;
	background: url(../images/section_tabs/news.png);
	background-repeat: no-repeat;
}


li#sports_tab a.tab-header {
	background: url(../images/section_tabs/sports.png);	
	background-repeat: no-repeat;
}

li#opinion_tab a.tab-header {
	background: url(../images/section_tabs/opinion.png);
	background-repeat: no-repeat;
}

li#entertainment_tab a.tab-header {
	background: url(../images/section_tabs/entertainment.png);
	background-repeat: no-repeat;
}

li#multimedia_tab a.tab-header {
	background: url(../images/section_tabs/multimedia.png);
	background-repeat: no-repeat;
}

li#comments_tab a.tab-header {
	background: url(../images/section_tabs/comments.png);
	background-repeat: no-repeat;
}


/* Featured Multimedia Module
***********************************/

div.mutimedia_box {
	width: 300px;
	padding:0px;
}

div.mutimedia_box h3 {
	margin: 6px 10px;
}


.pagers {
	text-align: center;
	padding: 2px;
	padding-top: 4px;
	margin-bottom: 5px;
}
	.pagers a {
		text-decoration: none;
		background: url(../images/bg/dark.png);
		padding: 5px 5px 4px 5px;
		margin: 0 2px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border: 1px solid rgba(0, 0, 0, 0.03);
		display: inline;
	}
	.pagers a.active {
		background: url(../images/bg/darker.png);
	}
	.pagers a:hover {
		background: url(../images/bg/darker.png);
	}

div.mutimedia_box ul#container_multimediaBox {
	height: 220px;
	margin: 0px;
	padding: 0px;
}

div.caption {
	background: url(../images/bg/darkest.png);
	padding: 5px;
	position: absolute;
	bottom: 17px;
	left: 12px;
	width: 255px;
	font-size: 0.9em;
	text-shadow: none;
	text-align: left;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

div.image img {
	position: relative;
	background: url(../images/bg/dark.png);
	padding: 5px 5px 5px 5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	width: 280px;
	height: 200px;
}

/* Upcoming Events Module
***********************************/
li.calendar_date a {
	text-decoration: none;
	background: url(../images/bg/dark.png);
	display: block;
	width: 38px;
	height: 50px;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 10px;
	padding: 5px 5px 5px 5px;
	text-align: center;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
}

div#calendar div ul.tab-header-active li a{
	background: url(../images/bg/darker.png);
}

li.calendar_date a:hover {
	background: url(../images/bg/darker.png);

}

li.calendar_date a span {
	display: block;
	font-family: Georgia;
}

li.calendar_date a span.day {
	text-transform: uppercase;
	font-size: 1.3em;
}

li.calendar_date a span.num {
	font-size: 2.7em;
	line-height: 0.9;
	font-style: italic;
}

/* Forms
***********************************/
#main_search{
	float: left;
}

form#search, form#search_ticker {
	float: right;
	padding: 3px;
	background: #fff;
}

	input#search_field, input#search_field_ticker, input#subscribe {
		font-size: 0.9em;
		color: #808080;
		border: 0;
		padding: 0 0 0 2px;
		width: 150px;
		float: left;
	}
	
	input#subscribe {
		font-size: 0.85em;
		padding: 3px 3px 3px 5px;
		width: 200px;
	}
	
	form#search_ticker input#search_button {
		float: right;
	}
		
	
/* Poll Module
*******************************/
	
form#pollform input, form#newsletterform input {
	margin: 4px 0;
}

div#poll span, div#poll div#vote a {
	font-size: 0.9em;
	text-align: right;
}

div#poll span {
	background: url(../images/icons/check_small.png) 0 1px no-repeat;
	padding-left: 12px;
}

div#results {
	display: none;
}

img#poll_chart {
	background: #fff;
	padding: 5px;
	margin: 5px 0;
}

div#poll div div {
	text-align: right;
	width:100%;
}


/* Footer
***********************************/

div#footer {
	margin-top: 10px;
	margin-bottom: 0;
	background: url(../images/bg/dark.png);
	padding: 10px;
	width: 920px;
}

div#footer a {
	text-decoration: none;
}

div#footer a:hover {
	text-decoration: underline;
}

div#footer div#copyright {
	text-align: center;
	background: url(../images/bg/divider_large.png) no-repeat top center;
	padding: 15px 0 0 0;
}

div#footer div#copyright a#powered {
	display: block;
	background: url(../images/client/dsw_cog.png) no-repeat top center;
	height: 50px;
	width: 150px;
	text-indent: -9999px;
	margin: 10px auto 0 auto;
	opacity: 0.5;
	font-size: 0.9em;
	text-decoration: none;
	padding: 17px 0 0 0;
}

div#footer div#copyright a#powered:hover {
	opacity: 1;
	text-indent: 0;
}

div#footer ul {
	margin: 0 0 20px 0;
}

div#footer img.front_pdf {
	width: 100px;
	background: url(../images/bg/dark.png);
	padding: 5px 5px 5px 5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

div#footer li {
	font-size: 0.9em;
}

div#footer li.nth-child-1 {
	font-size: 1.1em;
}

/* General Image Formatting
***********************************/

#featured_main {
	background: url(../images/bg/dark.png);
	padding: 7px; 
	width: 365;
	overflow: hidden;
}

	#featured_main img {
		width:365px;
		max-height: 400px;
	}

img.section_lead {
	width: 290px;
	background: url(../images/bg/dark.png);
	padding: 5px;
	margin: 0 0 5px 0;
}

img.section_lead:hover {
	background: url(../images/bg/darker.png);
}

img.section_sub {
	width: 90px;
	float: right;
	background: url(../images/bg/dark.png);
	padding: 3px;
	margin: 3px 0 3px 5px;
}

img.section_sub.staff {
	width: 60px;
}
	
/* jQuery Dependencies
***********************************/

.ui-tabs .ui-tabs-hide {
     display: none;
}

/* Rounded Corners Option with Borders
****************************************/

.dark, li.active, div#footer, div#featured_stories, div#featured_stories div, div#featured_stories ul li, div.featured_multimedia div, div.featured_multimedia ul li a, div#upcoming_events ul li a, form#search, input#subscribe, img#poll_chart, form#comments input, form#comments textarea, div#join_convo a, p#adv_search, p#basic_search, img.staff, div.bullet img, a.tab-header img {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

div#footer {
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
}

div#ticker {
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
}

.dark, li.active, div#upcoming_events ul#calendar li a, div#footer, div#join_convo a, form#comments input#comment_submit, p#search_toggle {
	border: 1px solid rgba(0, 0, 0, 0.03);
	
}

/* Pagination
***********************************/

ul.page_numbers {
	text-align: left;
	margin: 10px 0 10px 0;
}

	ul.page_numbers li {
	display: inline;
	text-align: center;
	}
	
	ul.page_numbers li.act a {
		background: url(../images/bg/darker.png);
	}
	
	ul.page_numbers li a {
		text-decoration: none;
		background: url(../images/bg/dark.png);
		padding: 5px 5px 4px 5px;
		margin: 0 2px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border: 1px solid rgba(0, 0, 0, 0.03);
		display: inline;
	}
	
ul.page_numbers li a:active, ul.page_numbers li a:hover { 	
	background: url(../images/bg/darker.png);
}



/* STANDARD MODAL
***********************************/


table.standard {
	width: 50%;
	margin-top: 1em;
}
	table.standard thead {
		font-size: 14px;
		font-weight: bold;
	}
		table.standard thead th {
			border-bottom: 1px solid #333;
		}
	table.standard tbody td, table.standard tbody th {
		padding-top: 15px;
		border-bottom: 1px solid #e1e1e1;
	}
	
		
/* Featured Stories
***********************************/

div#featured_stories {
	min-height: 220px;
	background: url(../images/bg/dark.png);
	padding: 10px;
	width: 520px;
	position: relative;
}

div#featured_stories ul.tab-box {
	max-height: 245px;
	padding: 0px;
	margin: 0px;
	width: 400px;
}

div#featured_stories div.tab-box-header div.nth-child-1, div#featured_stories div.tab-box-header div.nth-child-2, div#featured_stories div.tab-box-header div.nth-child-3 {
	position: absolute;
	top: 15px;
	right: 0px;
	width: 100px;
	height: 100px;
}

div#featured_stories  div.tab-box-header div.nth-child-2 {
	top: 97px;
} 

div#featured_stories  div.tab-box-header div.nth-child-3 {
	top: 180px;
} 

div#featured_stories div.tab-box-header div a.tab-header img {
	background: url(../images/bg/dark.png);
	padding: 5px;
	margin: 0px;
	opacity: 0.5;
	width: 100px;
	height: 65px;
}

div#featured_stories div.tab-box-header div.tab-header-active a.tab-header img {
	opacity: 1;
}

div#featured_stories ul li div.bullet {
	height: 240;
}

div#featured_stories ul li div.bullet div.caption {
	margin-left: 15px;
	margin-bottom: 10px;
	width: 360px;
}

div#featured_stories ul li div.bullet img {
	width: 385px;
	height: 230px;
	background: url(../images/bg/dark.png);
	padding: 5px;
	margin: 0px 0px 0px 5px;

}

/* Multimedia Page layout
***********************************/

li.image img, li.video img, li.audio img {
	max-width: 210px;
	margin-right: 10px;
	background: url(../images/bg/dark.png);
	padding: 5px 5px 5px 5px;
}

div#multipage ul.tab-box {
	height: 50px;
}

div#multipage ul.tab-box a {
	text-decoration: none;
}

div#multipage div.tab-box-header {
	position: relative;
	height: 50px;
}

div#multipage div.tab-box-header div {
	width:175px;
}

div#multipage div.tab-box-header div p {
	font-size: 1.3em;
	padding-top: 9px;
	margin-bottom: 12px; 
}

div#multipage div.tab-box-header a {
	text-decoration: none;
}

div#multipage div.tab-box-header h1 {
	margin-top: 5px;
	padding-bottom: 3px;
}

div#multipage div.tab-box-header div.nth-child-1 {
	position: absolute;
	top: 15px;
	background-image: url(../images/icons/multipage/image.png);
	background-position: 47px 0px;
	background-repeat: no-repeat;
}

div#multipage div.tab-box-header div.nth-child-2 {
	position: absolute;
	top: 15px;
	left: 185px;
	background-image: url(../images/icons/multipage/image.png);
	background-position: 49px 0px;
	background-repeat: no-repeat;
}

div#multipage div.tab-box-header div.nth-child-3 {
	position: absolute;
	top: 15px;
	left: 385px;	
	background-image: url(../images/icons/multipage/image.png);
	background-position: 47px 0px;
	background-repeat: no-repeat;

}

div#multipage div.tab-box-header div.tab-header-active {
	top: 10px;
	padding-bottom: 5px;
}

div#multipage ul.tab-box li.image {
	background-image: url(../images/icons/multipage/mp_bg_image.png);
	background-repeat: no-repeat;
	background-position: 0px 3px;
}

div#multipage ul.tab-box li.video{
	background-image: url(../images/icons/multipage/mp_bg_video.png);
	background-repeat: no-repeat;
	background-position: 0px 3px;
}

div#multipage ul.tab-box li.audio {
	background-image: url(../images/icons/multipage/mp_bg_audio.png);
	background-repeat: no-repeat;
	background-position: 0px 3px;
}

div#top_media {
	text-align: left;
}


div#top_media div div.nth-child-1 {
	width: 310px;
	float: left;
}

div#top_media div div.nth-child-2 {
	width: 300px;
	float: right;
}

div#top_media div.nth-child-2 {
	width: 300px;
	float: right;
	margin-top: 10px;
	overflow: hidden;
}

div#top_media div.nth-child-2 div {
	width: 285px;
}

div#top_media div img {
	width:300px;
	margin-top: 20px;
	margin-right: 10px;
	background: url(../images/bg/dark.png);
	padding: 5px 5px 5px 5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
}


div#top_media div div#soundplayer{
	margin-top: 100px;
	margin-bottom: 100px; 
	width: 290px;
	background: url(../images/bg/dark.png);
	padding: 6px 6px 4px 6px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

div#top_media div div#videoplayer {
	margin-top: 20px;
	margin-bottom: 75px;
}

div#top_media div div#videoplayer div.video-js-box video{
	margin-top: 20px;
	background: url(../images/bg/dark.png);
	padding: 5px 5px 5px 5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}


/* Archive and Search Page layout
***********************************/

div#form_right {
	position: absolute;
	left: 326px;
}

div#form_right div {
	margin-top: 1px;
	margin-bottom: 5px;
}

div#form_left {
	float: left;
}

input.search_field_archives {
		font-size: 0.9em;
		border: 0;
		padding: 0 0 0 2px;
		width: 300px;
		float: left;
		padding: 3px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
div#form_submit_archives {
	margin-top: 15px;
}

form#advanced_search {
	margin-top: 15px;
}

div#main_search {
	margin-top: 15px;
}

/* Contact Page layout
***********************************/

img#map {
	background: url(../images/bg/dark.png);
	padding: 6px 6px 6px 6px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin-top: 20px;
}

div#address {
	margin-bottom: 20px;
}

div#legal_notice p {
	margin-top: 10px;
}


/* Feeds Page layout
***********************************/
div#feeds div ul{
	margin-bottom: 20px;
}

