.bordered {
	border-top: 6px solid #94af94;
}

/*------------calendar Widget-------|Begin|---------*/
table#calendar{
	border-collapse: separate;
	margin-bottom: 20px;
}

	table#calendar tr.day{
		background:#111 url('../images/cal_calday.png') repeat-x left top;
		width:50px;
	}

	table#calendar tr.month{
		background:#111 url('../images/cal_calday.png') repeat-x left top;
	}

	table#calendar tr.month td{
		border-right: 0px;
		color:#fff;
		font-weight:normal;
	}

	table#calendar tr.month a{
		color:#fff; 
		padding: 5px 0px;
	}

	table#calendar th {
		color: #fff;
		text-align: center;
		text-shadow:0px -1px 0px #000;
		padding: 7px 3px;
		width:27px;
	}

	table#calendar td {
		text-align: center;
		border-right: 1px solid #c6c6c6;
		border-bottom: 1px solid #c6c6c6;
	}

	table#calendar td a {
		display:block;
		padding: 3px 1px;
		text-decoration:none;
		color:#505050;
	}

	table#calendar th.selected{
		background:#000 url('../images/cal_day-selected.png')
	}

	table#calendar tr.selected{
		background-color:#ccd6cc;
	}

	table#calendar td a.selected{
		background-color:#608761;
		color:#fff;
	}

	table#calendar td a:hover {
		text-decoration: none !important;
		color:#fff;
		background-color:#5f8963;
	}
/*------------calendar Widget-------|End|---------*/



/*------------Event Results list-------|Begin|---------*/

div#calendar-results{
	margin-bottom:50px;
}

h4.calendar{
	padding-top: 5px;
	padding-bottom: 7px;
	border-bottom:1px dotted rgb(117,148,108);
}

div.pagination span.calendar{
	bottom: 4px;
}

ul.calendar{
	margin-bottom:30px;
}

ul.calendar li{
	padding-top:10px;
	border-bottom:1px dotted rgb(117,148,108);
}

ul.calendar div{
	padding-right:100px;
	padding-bottom:20px;
	position:relative;
}

ul.calendar li img{
	right:0;
	top:25px;
	position:absolute;
}

ul.calendar span.type {
	color:#ffffff;
	font-weight:bold;
	width:54px;
	height:17px;
	text-align:center;
	padding-top:3px;
	background-color:rgb(86,123,83);
}

ul.calendar span.dateloc{
	display:block;
	
}
/*------------Event Result list-------|END|---------*/

/*------------SINGLE EVENT-------|BEGIN|---------*/
table#calendar-single{
	margin:20px 0 40px 0 ;
	width: 600px;
}

table#calendar-single .type{
	text-align:right;
	font-weight:bold;
	width:80px;
	padding:5px 20px 5px 0px;
	vertical-align:baseline;
}

table#calendar-single .maptag{
	vertical-align:top;
	padding-top:0px;
}

/*------------SINGLE EVENT-------|END|---------*/


